{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Add Image{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/add-image.css','css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
    <li>
        <a href="" id="edit_profile">
            Editar perfil
        </a>
    </li>
    <li>
        <a href="/manel/add_image">
            Subir Imagen
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/assets/img/examples/city.jpg');"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="profile-tabs">
                                <div class="nav-align-center">
                                    <div id="titulo-newImage">
                                        <h1>Add new image</h1>
                                    </div>
                                    <div class="error"></div>
                                    <section id="formAddImage">
                                        <form enctype="multipart/form-data" method="post" id="formNewImage">

                                            <section id="imageSelector"  class="form-group" >
                                                <img id="add_image" name="newImage" src="../assets/img/default/default_user.png" class="img-container img-responsive img-raised">
                                                <input type="file" name="image" class="btn btn-group-justified" id="btnSelectImage">
                                            </section>

                                            <input id="titleImage" class="form-control" type="text" placeholder="Title" name="title-image">
                                            <input id="public" type="radio" name="public" value="public" checked> Public<br>
                                            <input id="private" type="radio" name="private" value="private"> Private<br>
                                            <input class="btn btn-default btn-register" type="submit" value="Upload Image" name="newImage" id="addImage">


                                        </form>
                                    </section>
                                </div>
                            </div>
                            <!-- End Profile Tabs -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/add-image.js','js') }}"></script>
{% endblock %}