{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Add Image{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/cropper.css','css') }}" rel="stylesheet" />
    <link href="{{ asset('/add-image.css','css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <h2 class="page-header text-header">Añadir nueva imagen
                        </h2>
                        <div class="loaded" hidden>
                            <div class="img-container">
                                <img id="newImage" name="imageProfile" src=" " alt="Picture" >
                            </div>
                        </div>

                    </div>

                    <div class="noloaded">
                        <h4 class="previewText">Seleccionar una imagen</h4>
                    </div>
                    <div class="col-md-3 loaded" hidden>
                        <h3 class="previewText">Preview</h3>
                        <div class="row">
                            <div class="preview"></div>
                        </div>
                    </div>
                    <div>
                        <div class="error"></div>
                        <section id="formAddImage">
                            <form enctype="multipart/form-data" method="post" id="formNewImage" class="selector">
                                <div id="imageSelector" enctype="multipart/form-data" method="post">
                                    <label class="btn btn-default btn-file btn-group-justified" for="inputImage">
                                    Seleccionar una imagen<input id="inputImage" style="display: none;"  class="form-control input-lg" name="file" type="file" accept="image/*">
                                    </label>
                                </div>
                                <input id="titleImage" class="form-control" type="text" placeholder="Title" name="title-image">
                                <input id="public" type="radio" name="radio" value="public" checked> Imagen Pública<br>
                                <input id="private" type="radio" name="radio" value="private"> Imagen Privada<br>
                                <div id="btnAddImage" class="loaded" hidden><input class="btn btn-default btn-register" type="submit" value="Upload Image" name="newImage" id="addImage" ></div>
                            </form>
                        </section>
                    <div class="modal-body"></div>
                    </div>
                <div class="docs-alert"><span class="warning message"></span></div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/cropper.js','js') }}"></script>

    <script src="{{ asset('/add-image.js','js') }}"></script>
{% endblock %}