{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Add Image{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/add-image.css','css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/assets/img/examples/city.jpg');"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="profile-tabs">
                                <h1 class="page-header text-header">Añadir nueva imagen
                                </h1>
                                <div class="error"></div>
                                <section id="formAddImage">
                                    <form enctype="multipart/form-data" method="post" id="formNewImage">
                                        <div id="imageSelector" enctype="multipart/form-data" method="post" >
                                            <img id="newImage" name="imageProfile" src="/assets/img/default/default_user.png" class="img-responsive img-raised">
                                            <!-- <img id="perfil_reg" src="#" class="img-circle img-responsive img-raised">-->
                                            <label class="btn btn-default btn-file btn-group-justified" id="labelButtonSelect">
                                                Seleccionar una imagen <input type="file" style="display: none;" id="btnSelectImage">
                                            </label>
                                        </div>
                                        <input id="titleImage" class="form-control" type="text" placeholder="Title" name="title-image">
                                        <input id="public" type="radio" name="public" value="public" checked> Public<br>
                                        <input id="private" type="radio" name="private" value="private"> Private<br>
                                        <input class="btn btn-default btn-register" type="submit" value="Upload Image" name="newImage" id="addImage">


                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/add-image.js','js') }}"></script>
{% endblock %}