{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Add Image{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/confirmed.css','css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/assets/img/examples/city.jpg');"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class=" row main_profile">
                        <div class="profile user_profile" id="user_profile">
                            <div id="validateText" class="name">
                                <h3 class="title">Ha habido un error al activar la cuenta! </h3>
                            </div>
                        </div>
                        <div class="description text-center user_profile">
                            <a href="/"><p>Estas seguro que no has activado ya tu cuenta?</p></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}