{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Comments{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/comments.css','css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="wrapper">

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <h2 class="page-header text-header">Comentarios de mis imagenes
                        </h2>
                        <div class="divider"></div>
                        <div >
                            <table id="tableComments"
                                   class="table" data-search="true" data-pagination="true"
                                   data-show-refresh="true"
                                   data-show-toggle="true">
                                <thead >
                                    <tr>
                                        <th data-formatter="imglink" data-field="image_id" data-sortable="true" data-events="actionEvents">¿En que imagen?</th>
                                        <th data-field="created_at" data-sortable="true" data-events="actionEvents">¿Hace cuanto?</th>
                                        <th data-field="text" data-sortable="true" data-events="actionEvents">Comentario</th>
                                        <th data-field="actionEdit" data-formatter="editlink" data-events="actionEvents">Editar</th>
                                        <th data-field="actionRemove" data-formatter="actionFormatter" data-events="actionEvents">Eliminar</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade login" id="editComments">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_modal">&times;</button>
                    <h4 class="modal-title">Editar Comentario</h4>
                </div>
                <div class="modal-body">
                    <div class="wrapper">
                        <div class="main main-raised">
                            <div class="profile-content">
                                <div>
                                    <div class="error"></div>
                                    <section id="formAddImage">
                                        <form enctype="multipart/form-data" method="post" id="formEditComment" class="selector">
                                            <h5>Edita tu comentario por uno nuevo:</h5>
                                            <input id="comentario" class="form-control" type="text" name="comentario-image" data-content="">
                                            <input class="btn btn-default btn-register" type="submit" value="Guardar Cambios" name="editComment" id="changeComment" >
                                        </form>
                                    </section>
                                    <div class="modal-body"></div>
                                </div>
                                <div class="docs-alert"><span class="warning message"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/comments.js','js')}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

{% endblock %}