{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Confirmation{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/confirmation.css','css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class=" row main_profile">
                        {% if app.status == 0 %}
                                <div class="profile user_profile" >
                                    <div class="name">
                                        <h3 class="title">Este usuario no existe!</h3>
                                    </div>
                                </div>
                            <hr />
                                <div class="description text-center user_profile">
                                    <a href="/"><p>¿Estas seguro de que no te has equivocado de link?...</p></a>
                                </div>
                            {% elseif app.status == 1 %}
                                <div class="profile text-center user_profile" >
                                    <div class="name">
                                        <h3 class="title">La cuenta ya esta activada!</h3>
                                    </div>
                                </div>
                                <hr />
                                <div class="description text-center user_profile">
                                    <p>Tu usuario ya ha confirmado la cuenta :)</p>
                                    <p><a class="btn btn-default btn-lg" href="../" style="font-size: 14px"><span class="green">Aprieta aqui y empieza a disfrutar de PwGram!</span></a>
                                </div>
                            {% elseif app.status == 2 %}
                                <div class="profile user_profile" >
                                    <div class="name">
                                        <h3 class="title">El token de validación no es correcto... :(</h3>
                                    </div>
                                </div>
                                <hr />
                                <div class="description text-center user_profile">
                                    <a href="/"><p>¿Estas seguro de que no te has equivocado de link?...</p></a>
                                </div>
                            {% elseif app.status == 3 %}
                                <div class="profile user_profile" >
                                    <div class="name">
                                        <h3 class="title">Tu cuenta ha sido validada correctamente, enhorabuena!</h3>
                                    </div>
                                </div>
                                <hr />
                                <div class="description text-center user_profile">
                                    <p><a class="btn btn-default btn-lg" href="../" style="font-size: 14px"><span class="green">Aprieta aqui y empieza a disfrutar de PwGram!</span></a>
                                </div>
                            {% else %}
                                <div class="profile user_profile" >
                                    <div class="name">
                                        <h3 class="title">Ups, ha habido un error desconocido :0</h3>
                                    </div>
                                </div>
                                <div class="description text-center user_profile">
                                    <a href="/"><p>Codigo del error: {{ app.status }}</p></a>
                                </div>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}