{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ parent() }}
<link href="{{ asset('gallery.css','css')}}" rel="stylesheet"/>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <h1>Populares</h1>
            <div id="gallery_pop">

            </div>
    </div>
    <!-- Projects Row -->
    <div class="container">
        <div class="row">
            <h1>Recientes</h1>
            <div id="gallery_recent">

            </div>

    </div>


{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/home.js','js') }}"></script>
{% endblock %}