{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
    {% endblock %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ parent() }}

    {% endblock %}

{% block header %}
    {{ parent() }}
    {% endblock %}
{% block header_elements %}
    {{ parent() }}
   <!-- <li>
        <a href="" id="edit_profile">
            Editar perfil
        </a>
    </li>-->
    {% endblock %}

{% block content %}
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <div class="img-wrapper img-header">
                    <img class="img-responsive" src="../assets/img/examples/chris4.jpg" width="400" height="300" alt="">

                </div>
                <h1 class="page-header text-header">Manel Manchon
                    <small>El listo</small></h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item ">
                <a href="#">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="../assets/img/examples/chris4.jpg" width="400" height="300" alt="">
                    </div>
                </a>
                <h3>
                    Project Name
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

            </div>
            <div class="col-md-4 portfolio-item">
                <div class="item-overlay top"></div>
                <a href="#">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="../assets/img/examples/chris4.jpg" width="400" height="300" alt="">
                    </div></a>
                <h3>
                    Project Name
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="item-overlay top"></div>
                <a href="#">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="../assets/img/examples/chris4.jpg" width="400" height="300" alt="">
                    </div></a>
                <h3>
                    Project Name
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <div class="item-overlay top"></div>
                <a href="#">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="../assets/img/examples/chris4.jpg" width="400" height="300" alt="">
                    </div></a>
                <h3>
                    Project Name
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="item-overlay top"></div>
                <a href="#">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="../assets/img/examples/chris4.jpg" width="400" height="300" alt="">
                    </div></a>
                <h3>
                    Project Name
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="item-overlay top"></div>
                <a href="#">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="../assets/img/examples/chris4.jpg" width="400" height="300" alt="">
                    </div></a>
                <h3>
                    Project Name
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <div class="item-overlay top"></div>
                <a href="#">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="../assets/img/examples/chris4.jpg" width="400" height="300" alt="">
                    </div></a>
                <h3>
                    Project Name
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="item-overlay top"></div>
                <a href="#">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="../assets/img/examples/chris4.jpg" width="400" height="300" alt="">
                    </div></a>
                <h3>
                    Project Name
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="item-overlay top"></div>
                <a href="#">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="../assets/img/examples/chris4.jpg" width="400" height="300" alt="">
                    </div></a>
                <h3>
                    Project Name
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/home.js','js') }}"></script>
{% endblock %}