{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    {% endblock %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ parent() }}

    {% endblock %}

{% block header %}
    {{ parent() }}
    {% endblock %}
{% block header_elements %}
    {{ parent() }}
   <!-- <li>
        <a href="" id="edit_profile">
            Editar perfil
        </a>
    </li>-->
    {% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/assets/img/examples/city.jpg');"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                        <div class=" row main_profile">
                            <div class="profile user_profile" id="user_profile">
                                <div class="avatar ">
                                    <img id="img_profile" src="../assets/img/default/default_user.png" alt="Circle Image" class="img-circle img-responsive img-raised">
                                </div>
                                <div class="name user_profile">
                                    <h3 class="title">Samuel Tavares</h3>
                                </div>
                            </div>
                            <div class="description text-center user_profile">
                                <p>An artist of considerable range, Chet Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="profile-tabs">
                                <div class="nav-align-center">
                                    <ul class="nav nav-pills" role="tablist">
                                        <li class="active">
                                            <a href="#studio" role="tab" data-toggle="tab">
                                                <i class="material-icons">camera</i>
                                                Studio
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#work" role="tab" data-toggle="tab">
                                                <i class="material-icons">palette</i>
                                                Work
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#shows" role="tab" data-toggle="tab">
                                                <i class="material-icons">favorite</i>
                                                Favorite
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content gallery">
                                        <div class="tab-pane active" id="studio">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img src="../assets/img/examples/chris1.jpg" class="img-rounded" />
                                                    <img src="../assets/img/examples/chris0.jpg" class="img-rounded" />
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../assets/img/examples/chris3.jpg" class="img-rounded" />
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane text-center" id="work">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img src="../assets/img/examples/chris5.jpg" class="img-rounded" />
                                                    <img src="../assets/img/examples/chris7.jpg" class="img-rounded" />
                                                    <img src="../assets/img/examples/chris9.jpg" class="img-rounded" />
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../assets/img/examples/chris6.jpg" class="img-rounded" />
                                                    <img src="../assets/img/examples/chris8.jpg" class="img-rounded" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane text-center" id="shows">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" />
                                                    <img src="../assets/img/examples/chris6.jpg" class="img-rounded" />
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../assets/img/examples/chris7.jpg" class="img-rounded" />
                                                    <img src="../assets/img/examples/chris5.jpg" class="img-rounded" />
                                                    <img src="../assets/img/examples/chris9.jpg" class="img-rounded" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- End Profile Tabs -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_modal">&times;</button>
                    <h4 class="modal-title">Login PwGram</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form method="post" accept-charset="UTF-8">
                                    <input id="email" class="form-control" type="text" placeholder="Email or Username" name="email">
                                    <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                    <input class="btn btn-default btn-login" type="button" value="Login" id="login_submit">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                            <div class="form">
                                 <!--<form method="post" html="{:multipart=>true}" data-remote="true" action="/" accept-charset="UTF-8" enctype="multipart/form-data">-->
                                <form html="{:multipart=>true}" accept-charset="UTF-8" id="infoRegistro">
                                    <div id="imageSelector" enctype="multipart/form-data" method="post" >
                                        <img id="perfil_reg" name="imageProfile" src="../assets/img/default/default_user.png" class="img-circle img-responsive img-raised">
                                        <!-- <img id="perfil_reg" src="#" class="img-circle img-responsive img-raised">-->
                                        <input type="file" name="image" class="btn btn-group-justified" id="btnSelectImage">
                                    </div>
                                    <input id="username" class="form-control" type="text" placeholder="Username" name="username">
                                    <input id="email_reg" class="form-control" type="text" placeholder="Email" name="email">
                                    <input id="date" class="form-control" type="text" name="date-birth" placeholder="YYYY/MM/DD">
                                    <input id="password_reg" class="form-control" type="password" placeholder="Password" name="password">
                                    <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">

                                    <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit" id="registerUser"><!--onclick="registerAjax()"-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                            <span>Looking to
                                 <a id="register" href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                        <span>Already have an account?</span>
                        <a href="javascript: showLoginForm();">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade login" id="edit_modal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_modal">&times;</button>
                    <h4 class="modal-title">Edit profile</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content editBox">
                            <div class="form">
                                <form html="{:multipart=>true}" accept-charset="UTF-8" id="infoRegistro">
                                    <div id="imageSelector" enctype="multipart/form-data" method="post" >
                                        <img id="perfil_reg" name="imageProfile" src="../assets/img/default/default_user.png" class="img-circle img-responsive img-raised">
                                        <input type="file" name="image" class="btn btn-group-justified" id="btnSelectImage">
                                    </div>
                                    <input id="username" class="form-control" type="text" placeholder="Username" name="username">
                                    <input id="email_reg" class="form-control" type="text" placeholder="Email" name="email">
                                    <input id="date" class="form-control" type="text" name="date-birth" placeholder="YYYY/MM/DD">
                                    <input id="password_reg" class="form-control" type="password" placeholder="Password" name="password">
                                    <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">

                                    <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit" id="editUser">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/home.js','js') }}"></script>
{% endblock %}