{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('gallery.css','css')}}" rel="stylesheet"/>
    <link href="{{ asset('caption.css','css')}}" rel="stylesheet"/>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class ="container" >
        <h1 class="page-header text-header">Populares
        </h1>
        <div class="divider"></div>
            <div  class="container" id = "imagesPop" data-content="{{ images.populares }}">
                <div class="responsive row row-flex row-flex-wrap" id="gallery_pop" data-content="{{ images.size_pop }}">
                   {% for img in images.populares %}
                        {{  block("imagePop",  "indivImage.twig") }}
                    {% endfor %}
                </div>

            </div>

        <h1 class="page-header text-header">Recientes
        </h1>
        <div class="divider"></div>
        <div class="container" id="imagesRec" data-content="{{ images.recientes }}">
            <div class="responsive row row-flex row-flex-wrap" id="gallery_recent" data-content="{{ images.size_rec }}">

               {% for img in images.recientes %}
                    {{  block("imageRec",  "indivImage.twig") }}
               {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/home.js','js') }}"></script>
{% endblock %}