{% block commentsList %}
<div id='comentaris{{ img.id }}' class="listCommentsImage">
    {% if enableEdit is defined %}
        {% set end = img.comments|length %}
    {% else %}
        {% if limit is defined %}
            {% set end = limit %}
        {% else %}
            {% set end = 3 %}
        {% endif %}
    {% endif %}
    {% for comment in img.comments|slice(0,end) %}
        <ul class="comments-list">
            <li class="comment">
                <a class="pull-left" href="#">
                    <img class="avatar" src="../{{ comment[2]  }}">
                </a>
                <div class="comment-body">
                    <div class="comment-heading">
                        <h4 class="user">{{ comment[0] }}</h4>
                        <h5 class="time"> {{ comment[3]  }}</h5>
                    </div>
                    <p class="textComment">{{ comment[1]  }}</p>
                </div>
            </li>
        </ul>
    {% else %}
        <ul class="comments-list">
            <li class="comment">
                <div class="comment-body">
                    <div class="comment-heading">
                        <h4 class="noComments">No hay ningún comentario</h4>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
    {% if img.comments|length > 3 and enableEdit is not defined %}
        <ul class="comments-list" id="ulMoreCommentsBtn">
            <li class="comment">
                <input style="width: 100%" class="btn btn-default btn-register moreCommentsBtn" type="submit" data-content="{{ img.id }}" value="Ver más comentarios">
            </li>
        </ul>
    {% endif %}
</div>
{% endblock %}