{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Add Image{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/notifications.css','css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="wrapper">

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <h2 class="page-header text-header">Mis notificaciones
                        </h2>
                        <div class="divider"></div>
                        <div class="tableNotifications" >
                            <table id="tableNotifications"
                                   class="display table table-bordered">
                                <thead>
                                <tr>
                                    <th data-field="id">id</th>
                                    <th data-field="user_fired_event">user_fired_event</th>
                                    <th data-field="user_id">user_id</th>
                                    <th data-field="event_id">event_id</th>
                                    <th data-field="seen_by_user">seen_by_user</th>
                                    <th data-field="post_id">post_id</th>
                                    <th data-field="created_at">created_at</th>
                                </tr> </thead>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/notifications.js','js')}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

{% endblock %}