{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/profile.css','css') }}" rel="stylesheet" />
    <link href="{{ asset('gallery.css','css')}}" rel="stylesheet"/>
    <link href="{{ asset('caption.css','css')}}" rel="stylesheet"/>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container" id="profileContainer">
        <article id="articleID">
            <header id="headerID">

                <div id="ImgID">
                    <img src="/assets/img/default/default_profile_100.png" class="img-rounded img-responsive" id="ImgSrcID">
                </div>

                <div id="infoUser">
                    <h1 id="userName" data-content="{{ app.user.id }}">{{ app.user.name }}</h1>
                    {% if  app.client.edit  %}
                         <input type="button" value="Editar Perfil" class="btn btn-default" id="btnEditProfile">
                    {% endif %}
                    <div id="infoPostsComentaris">
                        <h4 class="infoPCUser">
                            <strong class="num">{{ app.user.posts }}</strong>posts
                        </h4>
                        <h4 class="infoPCUser">
                            <strong class="num">{{ app.user.comments }}</strong>comentarios
                        </h4>
                    </div>
                </div>
            </header>
        </article>
    </div>


    <div class="container">


        <div  id="gallery">

        </div>

        <div class="wrapper" id="containerInfoUser" data-content="{{ app.user.name }}?{{ app.user.email }}?{{ app.user.date }}?{{ app.user.img_path }}" hidden>
           <article id="articleForm">
               <div id="contenedorImagen">
                   <aside>
                       <label>Editar Imagen</label>
                   </aside>
                   <div id="divImgEditProfile" class="group-button">
                       <button title="Editar foto de perfil" id="btnEditImage">
                           <img id="idImgBtn" alt="Editar foto de perfil" src="/assets/img/default/default_profile_100.png">
                       </button>
                       <form enctype="multipart/form-data">
                           <input type="file" accept="image/jpeg">
                       </form>
                   </div>
               </div>
               <form id="formEditUser">
                   <div class="divCampo">
                       <aside>
                           <label>Nombre</label>
                       </aside>
                       <div  class="divInput">
                           <input type="text" class="inputs" id="inputNombreUsuario" aria-required="false">
                       </div>
                   </div>
                   <div class="divCampo">
                       <aside>
                           <label>Correo</label>
                       </aside>
                       <div  class="divInput">
                           <input type="email" class="inputs" id="inputCorreoUsuario" aria-required="false">
                       </div>
                   </div>
                   <div class="divCampo">
                       <aside>
                           <label>Fecha de Nacimiento</label>
                       </aside>
                       <div  class="divInput">
                           <input type="text" id="inputDateUsuario" class="inputs" aria-required="false">
                       </div>
                   </div>
                   <div class="divCampo">
                       <aside>
                           <label>Password</label>
                       </aside>
                       <div  class="divInput">
                           <input id="inputPassword" class="inputs" type="password" aria-required="false" placeholder="New Password">
                       </div>
                   </div>
                   <div class="divCampo">
                       <aside>
                           <label>Confirm Password</label>
                       </aside>
                       <div  class="divInput">
                           <input id="inputConfirmPass" class="inputs" type="password" aria-required="false" placeholder="Confirm New Password">
                       </div>
                   </div>
                   <div id="buttons">
                       <div id="divInputs">
                           <input type="submit" class="btn btn-default btn-register" value="Save" id="update_info">
                           <input type="button" class="btn  btn-default btn-register" value="Cancel" id="backToProfile">
                       </div>
                      </div>
               </form>
           </article>
        </div>

    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/profile.js','js')}}"></script>
    <script src="{{ asset('/profileOwner.js','js')}}"></script>

{% endblock %}