{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Profile{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/profile.css','css') }}" rel="stylesheet" />
    <link href="{{ asset('gallery.css','css')}}" rel="stylesheet"/>
    <link href="{{ asset('caption.css','css')}}" rel="stylesheet"/>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container" id="profileContainer">
        <article id="articleID">
            <header id="headerID">

                <div id="ImgID">
                    <img src="../{{ app.user.img_path.cuatro }}" class="img-rounded img-responsive" id="ImgSrcID">
                </div>

                <div id="infoUser">
                    <h1 id="userName" data-content="{{ app.user.id }}">{{ app.user.name }}</h1>
                    {% if  app.client.edit  %}
                         <input type="button" value="Editar Perfil" class="btn btn-default" id="btnEditProfile">
                    {% endif %}
                    <div id="infoPostsComentaris">
                        <h4 class="infoPCUser">
                            <strong class="num">{{ app.user.posts }}</strong>posts
                        </h4>
                        <h4 class="infoPCUser">
                            <strong class="num">{{ app.user.comments }}</strong>comentarios
                        </h4>
                    </div>
                </div>
            </header>
        </article>
    </div>


    <div class="container">
        <br>
        {% if images.list_images is empty %}
        <div align="center">
            <p>No hay imágenes disponibles</p>
        </div>
        {%  else %}
        <div class="dropdown">
            Ordenar por
            <button class="btn btn-default dropdown-toggle" id="dropdownButton" type="button" data-toggle="dropdown">
                <span class="caret"></span></button>
            <ul class="dropdown-menu" id="sortingList">
                <li data-content="Recientes"><a>Recientes</a></li>
                <li data-content="Comentarios"><a>Comentarios</a></li>
                <li data-content="Likes"><a>Likes</a></li>
            </ul>
        </div>
        <div class="error"></div>
            <div id="galleryRecents">
                <div class="responsive row row-flex row-flex-wrap" id="gallery_pop">

                    {% set tag = "gallery_pop" %}
                    {% for img in images.list_images %}
                        {% if  app.client.edit  %}
                            {{  block("individualImage",  "image.twig") }}
                        {% elseif img.private==0 %}
                            {{  block("individualImage",  "image.twig") }}
                        {% endif %}
                    {% endfor %}
                 </div>
            </div>
            <div id="galleryComments" hidden>
                <div class="responsive row row-flex row-flex-wrap" id="gallery_pop">
                   {% for img in images.list_comments %}
                        {% if  app.client.edit  %}
                            {{  block("individualImage",  "image.twig") }}
                        {% elseif img.private==0 %}
                            {{  block("individualImage",  "image.twig") }}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

            <div id="galleryLikes" hidden>
                <div class="responsive row row-flex row-flex-wrap" id="gallery_pop">

                    {% for img in images.list_likes %}
                        {% if  app.client.edit  %}
                            {{  block("individualImage",  "image.twig") }}
                        {% elseif img.private==0 %}
                            {{  block("individualImage",  "image.twig") }}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

        {% endif %}
        {% if  app.client.edit  %}
        <div class="wrapper" id="containerInfoUser" data-content="{{ app.user.name }}?{{ app.user.email }}?{{ app.user.date }}?{{ app.user.img_path }}" >
           <article id="articleForm">
               <div id="contenedorImagen">
                   <aside>
                       <label>Editar Imagen</label>
                   </aside>
                   <div id="divImgEditProfile" class="group-button">
                       <button title="Editar foto de perfil" id="btnEditImage">
                           <img id="idImgBtn" alt="Editar foto de perfil" src="../{{ app.user.img_path.cien }}" class="img-rounded img-responsive">
                       </button>
                       <form enctype="multipart/form-data">
                           <input type="file" accept="image/jpeg" id="imgProfile">
                       </form>
                   </div>
               </div>
               <form id="formEditUser">
                   <div class="divCampo">
                       <aside>
                           <label>Nombre</label>
                       </aside>
                       <div  class="divInput">
                           <input type="text" class="inputs" id="inputNombreUsuario" aria-required="false">
                       </div>
                   </div>
                   <div class="divCampo">
                       <aside>
                           <label>Fecha de Nacimiento</label>
                       </aside>
                       <div  class="divInput input-group date" data-date-format="yyyy/mm/dd" data-provide="datepicker">
                           <input type="text" id="inputDateUsuario" class="inputs form-control" aria-required="false">
                           <div class="input-group-addon">
                               <span class="glyphicon glyphicon-th"></span>
                           </div>
                       </div>
                   </div>
                   <div class="divCampo">
                       <aside>
                           <label>Password</label>
                       </aside>
                       <div  class="divInput">
                           <input id="inputPassword" class="inputs" type="password" aria-required="false" placeholder="New Password">
                       </div>
                   </div>
                   <div class="divCampo">
                       <aside>
                           <label>Confirm Password</label>
                       </aside>
                       <div  class="divInput">
                           <input id="inputConfirmPass" class="inputs" type="password" aria-required="false" placeholder="Confirm New Password">
                       </div>
                   </div>
                   <div id="buttons">
                       <div id="divInputs">
                           <input type="submit" class="btn btn-default btn-register" value="Save" id="update_info">
                           <input type="button" class="btn  btn-default btn-register" value="Cancel" id="backToProfile">
                       </div>
                      </div>
               </form>
           </article>
        </div>

        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ asset('/profilePublic.js','js')}}"></script>
    {% if  app.client.edit  %}
        <script src="{{ asset('/profileOwner.js','js')}}"></script>
    {% endif %}

{% endblock %}