{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('gallery.css','css')}}" rel="stylesheet"/>
    <link href="{{ asset('image-caption.css','css')}}" rel="stylesheet"/>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container">


        <div  id="gallery">

            <figure class='snip0016' id="main_figure">
                <img class='img-responsive img_profile' id="main_image" src='' alt='{{ app.image_id }}'/>
                <figcaption id="content">

                </figcaption>
            </figure>
        </div>

    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/unicImage.js','js')}}"></script>

{% endblock %}