{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ img.title }}{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('unicImage.css','css')}}" rel="stylesheet"/>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block header_elements %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
   <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 left_container">
                <img class='img-responsive img_profile' id="main_image" src='../{{ img.img_path }}' data-content='{{ app.image_id }}'/>
                {% if enableEdit %}
                <div class='buttons_icons' align='center'>
                    <a class='btn btn-simple btn-just-icon'>
                        <input class="btn btn-default btn-register" value="Editar" id='editImage' type="submit">
                    </a>
                    <a class='btn btn-simple btn-just-icon' >
                        <input class="btn btn-default btn-register" value="Eliminar" id='deleteImage' type="submit">
                    </a>
                </div>
                {% endif %}
            </div>
            <div class = "col-sm-4 right_container" id="content">
                <div id="backgroundInfoImg">
                <h2 id='title'>{{ img.title }}</h2>
                <p><h2><A href="/profile/{{ usernamePost }}" id='link_username' data-content="{{ usernamePost }}">{{ usernamePost }}</A></h2></p>
                <p id='label_like'><label class="infoImg">Likes</label> {{ img.likes }}</p>
                <p id='label_visits'><label class="infoImg">Visitas</label> {{ img.visits }}</p>
                <p id='label_time'><label class="infoImg">Hace</label> {{ img.created_at }}</p>
                </div>
                <div class="col-sm-15 divLinia">
                    <div class="panel panel-white post panel-shadow divLinia">
                        <div id='statusError{{ img.id }}content' class="alert alert-danger statusError" role="alert" hidden>
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Solo puedes añadir un comentario en la imagen
                        </div>
                        <div id="divLinia" class="post-footer divLinia">
                            <div class='row' >
                                {% if app.idUser is not null %}
                                <div class='col likeButton' align='center'>
                                    {% if img.liked == 1 %}
                                        <a class='btn btn-simple btn-just-icon' ><img class="likeImg" id="like{{ img.id }}content" src='../assets/img/icons/like_filled.png' width='30' height='30' data-content="{{ img.id }}_{{ img.user_id }}"></a>
                                    {% else %}
                                        <a class='btn btn-simple btn-just-icon'><img class="likeImg" id="like{{ img.id }}content" src='../assets/img/icons/like.png' width='30' height='30' data-content="{{ img.id }}_{{ img.user_id }}"></a>
                                    {% endif %}
                                </div>
                                <div class='col'>
                                    <div class="input-group" id="inputCommentGroup" >
                                        <input id='commentInput{{ img.id }}content' class="form-control" placeholder="Añadir un comentario" type="text" data-content="{{ img.user_id }}">
                                        <span class="input-group-addon" id ="commentButton" data-content="{{ img.id }}">
                                    <a>
                                        <i class="fa fa-edit">
                                        </i>
                                    </a>
                                </span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% set tag = "content" %}
                            {{  block("commentsList",  "listComments.twig") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>

    {% if app.idUser is not null %}
   <div class="modal fade edit" id="edit_modal">
        <div class="modal-dialog edit animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_modal">&times;</button>
                    <h4 class="modal-title">Edit Image</h4>
                </div>
                <div class="modal-body">
                    <div class="wrapper">
                        <div class="main main-raised">
                            <div class="profile-content">
                                <div>
                                    <div class="error"></div>
                                    <section id="formAddImage">
                                        <form enctype="multipart/form-data" method="post" id="formNewImage" class="selector">

                                            <input id="titleImage" class="form-control" placeholder="" type="text" name="title-image" value="{{ img.title }}">
                                            <input id="public" type="radio" name="radio" value="public" checked> Imagen Pública<br>
                                            <input id="private" type="radio" name="radio" value="private"> Imagen Privada<br>
                                            <input class="btn btn-default btn-register" type="submit" value="Guardar Cambios" name="newImage" id="updateImage" >
                                        </form>
                                    </section>
                                    <div class="modal-body"></div>
                                </div>
                                <div class="docs-alert"><span class="warning message"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
    {% endif %}

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/unicImage.js','js')}}"></script>

{% endblock %}