{% extends "base_gabri.twig" %}

{% block head %}
    {{ parent() }}
    {% endblock %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900">
    <link href="{{ asset('/grid-home.css','css') }}" rel="stylesheet" />
    {% endblock %}

{% block header %}
    {{ parent() }}
    {% endblock %}
{% block header_elements %}
    {{ parent() }}
    <li>
        <a href="http://pwgram.dev/samu/edit_profile" id="edit_profile">
            Editar perfil
        </a>
    </li>
    {% endblock %}

{% block content %}

    <div class="wrapper">
        <!--<div class="header header-filter" style="background-image: url('/assets/img/examples/city.jpg');"></div>-->

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                        <div class=" row main_profile">
                            <div class="profile user_profile" id="user_profile">
                                <div class="avatar ">
                                    <img id="img_profile" src="../assets/img/default/default_user.png" alt="Circle Image" class="img-circle img-responsive img-raised">
                                </div>
                                <div class="name user_profile">
                                    <h3 class="title">Samuel Tavares</h3>
                                </div>
                            </div>
                            <div class="description text-center user_profile">
                                <p>An artist of considerable range, Chet Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                            </div>
                        </div>

                    <ul class="rig columns-3 caption-style-4">
                        <li>
                            <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                            <h3>Image Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        </li>
                        <li>
                            <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                            <h3>Image Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        </li>
                        <li>
                            <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                            <h3>Image Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        </li>
                        <li>
                            <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                            <h3>Image Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        </li>
                        <li>
                            <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                            <h3>Image Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        </li>
                        <li>
                            <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                            <h3>Image Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        </li>

                    </ul>



                    <!--
                                        <div class="container-a4">
                                            <ul class="caption-style-4">
                                                <li>
                                                    <img src="/assets/img/mouse-over/chaps_1x.jpg" alt="">
                                                    <div class="caption">
                                                        <div class="blur"></div>
                                                        <div class="caption-text">
                                                            <h1>Amazing Caption</h1>
                                                            <p>Whatever It Is - Always Awesome</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/img/mouse-over/everycowboy_dribbbleready_shot.jpg" alt="">
                                                    <div class="caption">
                                                        <div class="blur"></div>
                                                        <div class="caption-text">
                                                            <h1>Amazing Caption</h1>
                                                            <p>Whatever It Is - Always Awesome</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/img/mouse-over/ithinkican_01.jpg" alt="">
                                                    <div class="caption">
                                                        <div class="blur"></div>
                                                        <div class="caption-text">
                                                            <h1>Amazing Caption</h1>
                                                            <p>Whatever It Is - Always Awesome</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/img/mouse-over/m.jpg" alt="">
                                                    <div class="caption">
                                                        <div class="blur"></div>
                                                        <div class="caption-text">
                                                            <h1>Amazing Caption</h1>
                                                            <p>Whatever It Is - Always Awesome</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/img/mouse-over/raspberry.jpg" alt="">
                                                    <div class="caption">
                                                        <div class="blur"></div>
                                                        <div class="caption-text">
                                                            <h1>Amazing Caption</h1>
                                                            <p>Whatever It Is - Always Awesome</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/img/mouse-over/sketch_1x.jpg" alt="">
                                                    <div class="caption">
                                                        <div class="blur"></div>
                                                        <div class="caption-text">
                                                            <h1>Amazing Caption</h1>
                                                            <p>Whatever It Is - Always Awesome</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>


                                        <!--<div class="home_gallery">
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <a href="#">
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                                                    <div class="caption">
                                                        <div class="blur"></div>
                                                        <div class="caption-text">
                                                            <h1>Amazing Caption</h1>
                                                            <p>Whatever It Is - Always Awesome</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <a href="#">
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <a href="#">
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <a href="#">
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <a href="#">
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <a href="#">
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <a href="#">
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <a href="#">
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <a href="#">
                                                    <img src="../assets/img/examples/chris4.jpg" class="img-rounded" width="400" height="300"/>
                                                </a>
                                            </div>
                                       </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_modal">&times;</button>
                    <h4 class="modal-title">Login PwGram</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form method="post" accept-charset="UTF-8">
                                    <input id="email" class="form-control" type="text" placeholder="Email or Username" name="email">
                                    <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                    <input class="btn btn-default btn-login" type="button" value="Login" id="login_submit">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                            <div class="form">
                                 <!--<form method="post" html="{:multipart=>true}" data-remote="true" action="/" accept-charset="UTF-8" enctype="multipart/form-data">-->
                                <form html="{:multipart=>true}" accept-charset="UTF-8" id="infoRegistro">
                                    <div id="imageSelector" enctype="multipart/form-data" method="post" >
                                        <img id="perfil_reg" name="imageProfile" src="../assets/img/default/default_user.png" class="img-circle img-responsive img-raised">
                                        <!-- <img id="perfil_reg" src="#" class="img-circle img-responsive img-raised">-->
                                        <input type="file" name="image" class="btn btn-group-justified" id="btnSelectImage">
                                    </div>
                                    <input id="username" class="form-control" type="text" placeholder="Username" name="username">
                                    <input id="email_reg" class="form-control" type="text" placeholder="Email" name="email">
                                    <input id="date" class="form-control" type="text" name="date-birth" placeholder="YYYY/MM/DD">
                                    <input id="password_reg" class="form-control" type="password" placeholder="Password" name="password">
                                    <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">

                                    <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit" id="registerUser"><!--onclick="registerAjax()"-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                            <span>Looking to
                                 <a id="register" href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                        <span>Already have an account?</span>
                        <a href="javascript: showLoginForm();">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade login" id="edit_modal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_modal">&times;</button>
                    <h4 class="modal-title">Edit profile</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content editBox">
                            <div class="form">
                                <form html="{:multipart=>true}" accept-charset="UTF-8" id="infoRegistro">
                                    <div id="imageSelector" enctype="multipart/form-data" method="post" >
                                        <img id="perfil_reg" name="imageProfile" src="../assets/img/default/default_user.png" class="img-circle img-responsive img-raised">
                                        <input type="file" name="image" class="btn btn-group-justified" id="btnSelectImage">
                                    </div>
                                    <input id="username" class="form-control" type="text" placeholder="Username" name="username">
                                    <input id="email_reg" class="form-control" type="text" placeholder="Email" name="email">
                                    <input id="date" class="form-control" type="text" name="date-birth" placeholder="YYYY/MM/DD">
                                    <input id="password_reg" class="form-control" type="password" placeholder="Password" name="password">
                                    <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">

                                    <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit" id="editUser">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/home.js','js') }}"></script>
{% endblock %}